/* @import stylep-dropdown; */
@import '../index.css';

body {
  background-color: #E8EBEF;
  color: #6B6B77;
  font-family: 'Helvetica Neue';
  overflow-x: hidden;
}

section {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
}

h1 { font-weight: 100; letter-spacing: 1px; }
h2 { font-weight: 200; }
h3 { font-weight: 300; }

.dropdown--inline { @mixin dropdown-inline; }
.dropdown--block { @mixin dropdown-block; }
.dropdown--solid { @mixin dropdown-solid; }
.dropdown--hollow { @mixin dropdown-hollow; }
.dropdown-callout--inline { @mixin dropdown-callout-inline; }

.dropdown-callout--solid {
  @mixin dropdown-callout-inline;
  @mixin dropdown-callout-solid;
}

.dropdown-callout--hollow {
  @mixin dropdown-callout-inline;
  @mixin dropdown-callout-hollow;
}

.dropdown-callout-top { @mixin dropdown-callout-top; }
.dropdown-callout-top-right { @mixin dropdown-callout-top-right; }
.dropdown-callout-top-left { @mixin dropdown-callout-top-left; }
.dropdown-callout-bottom { @mixin dropdown-callout-bottom; }
.dropdown-callout-bottom-right { @mixin dropdown-callout-bottom-right; }
.dropdown-callout-bottom-left { @mixin dropdown-callout-bottom-left; }
.dropdown-callout-right { @mixin dropdown-callout-right; }
.dropdown-callout-right-top { @mixin dropdown-callout-right-top; }
.dropdown-callout-right-bottom { @mixin dropdown-callout-right-bottom; }
.dropdown-callout-left { @mixin dropdown-callout-left; }
.dropdown-callout-left-top { @mixin dropdown-callout-left-top; }
.dropdown-callout-left-bottom { @mixin dropdown-callout-left-bottom; }

