@import 'stylep-button';
@import 'stylep-card';

@define-mixin dropdown
  $dropdown-padding: 0 {
  /* @mixin fade-out; */
  list-style: none;
  opacity: 0;
  padding: $dropdown-padding;
  transition: visibility 0s .1s, opacity 1s linear;
  visibility: hidden;

  &.is-active {
    /* @mixin fade-in; */
    opacity: 1;
    transition: opacity .1s linear;
    visibility: visible;
  }

  & button {
    @mixin button-block 15px, 0;
    text-align: left;
  }
}

@define-mixin dropdown-inline
  $dropdown-padding: 0,
  $dropdown-margin: 0,
  $dropdown-min-width: 100px {
  @mixin card-inline $dropdown-margin, $dropdown-min-width;
  @mixin dropdown $dropdown-padding;
}

@define-mixin dropdown-block
  $dropdown-padding: 0,
  $dropdown-margin: 0 {
  @mixin card-block $dropdown-margin;
  @mixin dropdown $dropdown-padding;
}

@define-mixin dropdown-solid
  $dropdown-color: #f7f7f7,
  $dropdown-selected-color: #e8e8e8,
  $dropdown-text-color: #444,
  $dropdown-radius: 0,
  $dropdown-shadow: 0 2px 2px rgba(0, 0, 0, .4) {
  @mixin card-solid $dropdown-color, $dropdown-text-color, $dropdown-shadow;
  border-radius: $dropdown-radius;

  & button:not([class]) { @mixin button-solid $dropdown-color, $dropdown-selected-color, $dropdown-text-color, $dropdown-radius; }
}

@define-mixin dropdown-hollow
  $dropdown-color: #444,
  $dropdown-selected-color: #e8e8e8,
  $dropdown-background-color: #fff,
  $dropdown-border-width: 1px {
  @mixin card-hollow $dropdown-color, $dropdown-border-width;

  & button:not([class]) { @mixin button-solid $dropdown-background-color, $dropdown-selected-color; }
}

/* Callout */
@define-mixin dropdown-callout-inline {
  overflow: visible;

  &::before,
  &::after {
    content: '';
    position: absolute;
    transform: rotate(45deg);
  }

  &::before {
    height: 15px;
    width: 15px;
  }

  &::after {
    height: 11px;
    width: 11px;
    z-index: -1;
  }
}

@define-mixin dropdown-callout-solid
  $dropdown-callout-color: #f7f7f7,
  $dropdown-callout-shadow: 0 0 2px 1px rgba(0, 0, 0, .5) {
  &::before { background-color: $dropdown-callout-color; }

  &::after {
    background-color: transparent;
    box-shadow: $dropdown-callout-shadow;
  }
}

@define-mixin dropdown-callout-hollow
  $dropdown-callout-color: #fff,
  $dropdown-callout-shadow: 0 0 0 1px #444 {
  &::before {
    background-color: $dropdown-callout-color;
    box-shadow: $dropdown-callout-shadow;
  }
}

@define-mixin dropdown-callout-position
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto {
  &::before,
  &::after {
    bottom: $bottom;
    left: $left;
    right: $right;
    top: $top;
  }
}

@define-mixin dropdown-callout-top $offset: 6px {
  @mixin dropdown-callout-position -$offset, auto, auto, 50%;
  margin-top: calc($offset * 1.5);

  &::before { margin-left: -2%; }
}

@define-mixin dropdown-callout-top-right $offset: 6px {
  @mixin dropdown-callout-position -$offset, $offset;
  margin-top: calc($offset * 1.5);

  &::before { margin-right: -2%; }
}

@define-mixin dropdown-callout-top-left $offset: 6px {
  @mixin dropdown-callout-position -$offset, auto, auto, $offset;
  margin-top: calc($offset * 1.5);

  &::before { margin-left: -2%; }
}

@define-mixin dropdown-callout-bottom $offset: 6px {
  @mixin dropdown-callout-position auto, auto, -$offset, 50%;
  margin-bottom: calc($offset * 1.5);

  &::before { margin-left: -2%; }
}

@define-mixin dropdown-callout-bottom-right $offset: 6px {
  @mixin dropdown-callout-position auto, $offset, -$offset;
  margin-bottom: calc($offset * 1.5);

  &::before { margin-right: -2%; }
}

@define-mixin dropdown-callout-bottom-left $offset: 6px {
  @mixin dropdown-callout-position auto, auto, -$offset, $offset;
  margin-bottom: calc($offset * 1.5);

  &::before { margin-left: -2%; }
}

@define-mixin dropdown-callout-right $offset: 6px {
  @mixin dropdown-callout-position auto, -$offset, 50%;
  margin-right: calc($offset * 1.5);

  &::before { margin-bottom: -1%; }
}

@define-mixin dropdown-callout-right-top $offset: 6px {
  @mixin dropdown-callout-position $offset, -$offset;
  margin-right: calc($offset * 1.5);

  &::before { margin-top: -2%; }
}

@define-mixin dropdown-callout-right-bottom $offset: 6px {
  @mixin dropdown-callout-position auto, -$offset, $offset;
  margin-right: calc($offset * 1.5);

  &::before { margin-bottom: -2%; }
}

@define-mixin dropdown-callout-left $offset: 6px {
  @mixin dropdown-callout-position auto, auto, 50%, -$offset;
  margin-left: calc($offset * 1.5);

  &::before { margin-bottom: -1%; }
}

@define-mixin dropdown-callout-left-top $offset: 6px {
  @mixin dropdown-callout-position $offset, auto, auto, -$offset;
  margin-left: calc($offset * 1.5);

  &::before { margin-top: -2%; }
}

@define-mixin dropdown-callout-left-bottom $offset: 6px {
  @mixin dropdown-callout-position auto, auto, $offset, -$offset;
  margin-left: calc($offset * 1.5);

  &::before { margin-bottom: -2%; }
}

