@import 'stylep-button';
@import 'stylep-card';

/* Patterns */

@define-mixin dropdown
  $dropdown-padding: 0 {
  /* @mixin fade-out; */
  list-style: none;
  opacity: 0;
  padding: $dropdown-padding;
  pointer-events: none;
  transition: visibility 0s 2s, z-index 0s 2s, opacity 1s ease-in-out;
  visibility: hidden;
  z-index: -1

  &.is-active {
    /* @mixin fade-in; */
    opacity: 1;
    transition: opacity .1s ease-in-out;
    visibility: visible;
    z-index: 10;
  }

  & button {
    @mixin button-block 15px, 0;
    text-align: left;
  }
}

@define-mixin dropdown-inline
  $dropdown-padding: 0,
  $dropdown-margin: 0,
  $dropdown-min-width: 100px {
  @mixin card-inline $dropdown-margin, $dropdown-min-width;
  @mixin dropdown $dropdown-padding;
}

@define-mixin dropdown-block
  $dropdown-padding: 0,
  $dropdown-margin: 0 {
  @mixin card-block $dropdown-margin;
  @mixin dropdown $dropdown-padding;
}

@define-mixin dropdown-callout-inline
  $dropdown-callout-size: 15px {
  overflow: visible;

  &::before {
    content: '';
    height: $dropdown-callout-size;
    position: absolute;
    transform: rotate(45deg);
    width: $dropdown-callout-size;
  }
}

@define-mixin dropdown-callout-margin $side, $offset: 7.5px {
  margin-$(side): calc($offset * 1.5);
}


@define-mixin dropdown-callout-position
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto {
  &::before {
    bottom: $bottom;
    left: $left;
    margin: auto;
    right: $right;
    top: $top;
    @mixin-content;
  }
}

@define-mixin dropdown-callout-top $offset: 7.5px {
  @mixin dropdown-callout-margin top;
  @mixin dropdown-callout-position -$offset, 0, auto, 0;
}

@define-mixin dropdown-callout-top-right $offset: 7.5px {
  @mixin dropdown-callout-margin top;
  @mixin dropdown-callout-position -$offset, $offset;
}

@define-mixin dropdown-callout-top-left $offset: 7.5px {
  @mixin dropdown-callout-margin top;
  @mixin dropdown-callout-position -$offset, auto, auto, $offset;
}

@define-mixin dropdown-callout-bottom $offset: 7.5px {
  @mixin dropdown-callout-margin bottom;
  @mixin dropdown-callout-position auto, 0, -$offset, 0;
}

@define-mixin dropdown-callout-bottom-right $offset: 7.5px {
  @mixin dropdown-callout-margin bottom;
  @mixin dropdown-callout-position auto, $offset, -$offset;
}

@define-mixin dropdown-callout-bottom-left $offset: 7.5px {
  @mixin dropdown-callout-margin bottom;
  @mixin dropdown-callout-position auto, auto, -$offset, $offset;
}

@define-mixin dropdown-callout-right $offset: 7.5px {
  @mixin dropdown-callout-margin right;
  @mixin dropdown-callout-position 0, -$offset, 0;
}

@define-mixin dropdown-callout-right-top $offset: 7.5px {
  @mixin dropdown-callout-margin right;
  @mixin dropdown-callout-position $offset, -$offset;
}

@define-mixin dropdown-callout-right-bottom $offset: 7.5px {
  @mixin dropdown-callout-margin right;
  @mixin dropdown-callout-position auto, -$offset, $offset;
}

@define-mixin dropdown-callout-left $offset: 7.5px {
  @mixin dropdown-callout-margin left;
  @mixin dropdown-callout-position 0, auto, 0, -$offset;
}

@define-mixin dropdown-callout-left-top $offset: 7.5px {
  @mixin dropdown-callout-margin left;
  @mixin dropdown-callout-position $offset, auto, auto, -$offset;
}

@define-mixin dropdown-callout-left-bottom $offset: 7.5px {
  @mixin dropdown-callout-margin left;
  @mixin dropdown-callout-position auto, auto, $offset, -$offset;
}

/* Styles */

@define-mixin dropdown-solid
  $dropdown-color: #f7f7f7,
  $dropdown-selected-color: #e8e8e8,
  $dropdown-text-color: #444,
  $dropdown-radius: 0,
  $dropdown-shadow: 0 0 3px 1px rgba(0, 0, 0, .4) {
  @mixin card-solid $dropdown-color, $dropdown-text-color, $dropdown-shadow;
  border-radius: $dropdown-radius;
  & button:not([class]) { @mixin button-solid $dropdown-color, $dropdown-selected-color, $dropdown-text-color, none, $dropdown-radius; }
}

@define-mixin dropdown-hollow
  $dropdown-color: #444,
  $dropdown-background-color: #fff,
  $dropdown-border-width: 1px,
  $dropdown-radius: 0 {
  @mixin card-hollow $dropdown-color, $dropdown-border-width;
  & button:not([class]) {
    @mixin button-hollow $dropdown-color, #fff, none, $dropdown-radius;
    background-color: $dropdown-background-color;
    border: none;
  }
}

@define-mixin dropdown-callout-solid
  $dropdown-callout-color: #f7f7f7,
  $dropdown-callout-shadow: 0 0 3px 1px rgba(0, 0, 0, .4) {
  &::before {
    background-color: $dropdown-callout-color;
    box-shadow: $dropdown-callout-shadow;
  }
}

@define-mixin dropdown-callout-hollow
  $dropdown-callout-color: #fff,
  $dropdown-callout-border: 1px solid #444 {
  &::before {
    background-color: $dropdown-callout-color;
    border: $dropdown-callout-border;
  }
}

